<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>bookmarks</title>
        <meta name="description" content="" />
        <meta name="author" content="Patrick Walsh" />

        <meta name="viewport" content="width=device-width; initial-scale=1.0" />

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>

    <body>
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="/">GeoTombstone</a>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              {% if admin == True %}
              <li><a href="/admin/users">Admin</a></li>
              {% endif %}
              <li class="active"><a href="/bookmarks">Bookmarks</a></li>
              {% if logged_in == True%}
              <li><a href="/log_out">Log Out</a></li>
              {% else %}
              <li><a href="/log_in">Log In</a></li>
              <li><a href="/create_account">Create Account</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="container">
            {% if logged_in == True%}
                {% if bookmarks|length == 0 %}
                No Bookmarks.
                {% else %}
                    {% for obit in bookmarks %}
                        <div>
                            name : {{obit.name}}
                            <br />
                            <a href="{{obit.obituary_url}}">See obituary</a>
                            <br />
                            <a href="{{obit.remove_bookmark_url}}">Remove from bookmarks</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                You can view your saved obituaries here onces you <a href="/log_in">log in</a> or <a href="/create_account">create an account</a>.
            {% endif %}
        </div>
    </body>
</html>
