<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>{{obituary.name}}</title>
        <meta name="description" content="" />
        <meta name="author" content="Patrick Walsh" />

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="icon" href="/img/favicon.png" type="image/png" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        
        <style type="text/css">
	        .smaller{
	        	font-size: 12pt;
		        line-height: 120%;
		        margin-bottom: 0px;
	        }
	        
	        .lead-medium{
		        font-size: 12pt;
		        line-height: 120%;
		        margin-bottom: 0px;
		        margin-top: 10px;
	        }
	        
	        .headleader{
		        margin-top: 50px;
	        }
	        
	        .obit_img{
		        margin-bottom: 20px;
	        }
	        
	        .uploadimage{
				overflow: auto;	        
			}
			
			.editform{
				margin-top: 20px;
			}
			
			.btnsaveedit{
				float: right;
			}
			
			textarea{
				width: 300px;
				height: 100px;
			}
			
			.bump-right{
				margin-left: 20px;
			}
			
			.bump-two{
				margin-left: 40px;
			}
			
			.name{
				font-weight: 400;
				font-size: 12pt;
				color: #4e4e4e;
			}
			
			.msg{
				color: #575757;
			}
			
			.topdata{
				text-align: center;
				margin-top: 50px;
			}
			
			.bigname{
				font-size: 22pt;
				line-height: 120%;
			}
        </style>
        
        
    </head>

    <body>
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="/">GeoTombstone</a>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              {% if admin == True %}
              <li><a href="/admin/users">Admin</a></li>
              {% endif %}
              {% if logged_in == True%}
              <li><a href="/log_out">Log Out</a></li>
              {% else %}
              <li><a href="/log_in">Log In</a></li>
              <li><a href="/create_account">Create Account</a></li>
              {% endif %}
              
            </ul>
          </div>
        </div>
        <div class="container">
            <div class="row">
            	<div class="span4">
                        {% for photo_url in obituary.get_photo_urls() %}
                            <img class="obit_img img-rounded" src="{{ photo_url }}" />
                        {% endfor %}
                        {% if editable %}
	                    <form class="uploadimage well" method="post" action="{{ upload_photo_url }}" enctype="multipart/form-data">
	                        <p class="lead">Upload another image</p>
	                        <input type="file" name="image"/>
	                        <input type="submit" class="btn btn-info" style="margin-top: 20px; float:right;" value="Upload Image"/>
	                    </form>
	                    {% endif %}
            	</div>
                <div id="obit-data" class="span8">
                	<div class="topdata">
                    <h4 class="lead bigname">{{obituary.name}}</h4>
                    <p class="lead smaller" style="margin-top: 20px;">{% if obituary.pob or obituary.dob %}Born {{ obituary.dob_web }}{% if obituary.pob %} in {{ obituary.pob }}{% endif %}{% endif %}</p>
                    <p class="lead smaller" style="margin-top: 10px;">{% if obituary.pod or obituary.dod %}Passed away {{ obituary.dod_web }}{% if obituary.pod %} in {{ obituary.pod }}{% endif %}{% endif %}</p>
                    {% if obituary.tombstone_message %}
                    <p class="lead"  style="margin-top: 20px;">"{{ obituary.tombstone_message }}"</p>
                    {% endif %}
                    {% if editable %}
                    <button id="editbtn" class="btn btn-info" style="margin-top: 10px;">Edit Information</button>
                    {% endif %}
                	</div>
                    {% if editable %}
                    <div class="editform collapse">
                    <form class="well" method="post" action="{{ edit_data_url }}"><!--action="/obituary/{{ obituary.key.id() }}"-->
                    <label>Name:</label><input type="text" name="name" value="{{ obituary.name }}" placeholder="Name"><br />
                    <label>Date Born:</label><input type="text" name="dob" value="{{ obituary.dob_web }}" placeholder="MM/DD/YYYY"><br />
                    <label>Date Deceased:</label><input type="text" name="dod" value="{{ obituary.dod_web }}" placeholder="MM/DD/YYYY"><br />
                    <label>Place Born:</label><input type="text" name="pob" value="{{ obituary.pob }}" placeholder="Boston, MA"><br />
                    <label>Place Deceased:</label><input type="text" name="pod" value="{{ obituary.pod }}" placeholder="San Diego, CA"><br />
                    <label>Epitaph:</label><input type="text" name="tombstone_message" value="{{ obituary.tombstone_message }}" />
                    <label>Mother's Name:</label><input type="text" name="mothers_name" value="{{ obituary.mothers_name }}" />
                    <label>Father's Name:</label><input type="text" name="fathers_name" value="{{ obituary.fathers_name }}" />
                    <label>Cause of Death:</label><input type="text" name="cod" value="{{ obituary.cod }}" />
                    <input type="submit" class="btn btn-success btnsaveedit" name="submit" value="Save Changes">
                    </form>
                    </div>
                    {% endif %}
                    <hr>
                    <h3 class="headleader lead">Narratives about this person</h3>
                    {% for n in narratives %}
                    	<div class="bump-right">
                        <h5 class="name">From {{n.author_name}}:</h5>
                        <p class="msg bump-right">{{n.message}}</p>
                        <hr>
                        </div>
                    {% else %}
                    <div class="alert alert-info"><p class="lead smaller">No narratives have been added yet.</p></div>
                    {% endfor %}
                    {% if editable %}
                        <form method="post" class="bump-right" style="margin-top: 30px;" action="{{ add_narrative_url }}">
                            <input type="text" id="name1" name="author_name" placeholder="Your name" />
                            <br />
                            <textarea name="message" id="text1" placeholder="Share a story about this person."></textarea>
                            <br />
                            <button class="btn btn-info btn-large" id="add-narratives" disabled>Add a story</button>
                        </form>
                    {% endif %}
                    <hr>
                    <h3 class="headleader lead">Messages to loved ones</h3>
                    {% for m in messages %}
                    	<div class="bump-right">
                        <h5 class="name">From {{m.author_name}}:</h5>
                        <p class="msg bump-right">{{m.message}}</p>
                    	<hr>
                    	</div>
                    {% else %}
                    <div class="alert alert-info"><p class="lead smaller">No messages have been added yet.</p></div>
                    {% endfor %}
                    {% if editable %}
                        <form method="post" class="bump-right" style="margin-top: 30px;" action="{{ add_message_url }}">
                            <input type="text" id="name2" name="author_name" placeholder="Your name"/>
                            <br />
                            <textarea name="message" id="text2" placeholder="Leave a message for loved ones."></textarea>
                            <br />
                            <button class="btn btn-info btn-large" id="add-message" disabled>Leave a message</button>
                        </form>
                    {% endif %}
                    
                    <hr>
                    <h3 class="headerleader lead">Related Burials</h3>
                    {% if related_count == 0 %}
                    <div class="alert alert-info"><p class="lead smaller">No related burials exist.</p></div>
                    {% else %}
                    
                    	{%if relatives.name !=[]%}
                    	<p class="lead-medium bump-right">Similar names:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.name%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.dob != []%}
                    	<p class="lead-medium bump-right">Born on the same day:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.dob%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.dod !=[]%}
                    	<p class="lead-medium bump-right">Died on the same day:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.dod%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.pob !=[]%}
                    	<p class="lead-medium bump-right">Born in the same place:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.pob%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.pod !=[]%}
                    	<p class="lead-medium bump-right">Died in the same place:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.pod%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.mothers_name !=[]%}
                    	<p class="lead-medium bump-right">Same mother's name:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.mothers_name%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.fathers_name !=[]%}
                    	<p class="lead-medium bump-right">Same father's name:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.fathers_name%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	{%if relatives.cod !=[]%}
                    	<p class="lead-medium bump-right">Burials with the same cause of death:</p>
                    	{%endif%}
                    	
                    	{%for r in relatives.cod%}
	                    	<a href="{{r.obituary_url}}" class="bump-two">{{r.name}}</a>
                    	{%endfor%}
                    	
                    	
                    {% endif %}
                </div>
            </div>
        </div>
        
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
		<script type="text/javascript">
		$(document).on("ready",function(){
			$(".editform").collapse({
				toggle	:	false
			})
			
			$("#editbtn").click(function(){
				$(".editform").collapse("toggle")
			})
			
			$("input,textarea").keyup(function(){
				if($("#name1").val().length > 0 && $("#text1").val().length > 0){
					$("#add-narratives").attr("disabled",false)
				} else{
					$("#add-narratives").attr("disabled","disabled")
				}
				
				if($("#name2").val().length > 0 && $("#text2").val().length > 0){
					$("#add-message").attr("disabled",false)
				} else{
					$("#add-message").attr("disabled","disabled")
				}
				
			})
			
			
		})
		</script>
    </body>
</html>
